<h1>Blink! Photosharing</h1>

<% if @favorites.length > 0 %>
<div id="recent-favorites">
  <h2>Recent Favorites</h2>

  <% @favorites.each do |favorite| %>
    <div class="photo">
      <%= image_tag favorite.upload.photo.url(:thumb) %>
    </div>
  <% end %>
</div>
<div class="clear"></div>
<% end %>

<div id="all-photos">
  <h2>All Photos</h2>
  <% @uploads.each do |upload| %>
    <div class="photo">
      <%= image_tag upload.photo.url(:thumb) %>

      <% if !current_user.nil? %>
        <% if Favorite.exists?(user_id: current_user.id, upload_id: upload.id) %>
          <a class="glyphicon glyphicon-heart favorited" data-method="delete"
            href="/users/<%= current_user.id %>/uploads/<%= upload.id %>/favorites/<%= Favorite.find_by(user_id: current_user.id, upload_id: upload.id).id %>"></a>
        <% else %>
          <a class="glyphicon glyphicon-heart" data-method="post"
            href="<%= user_upload_favorites_path(current_user, upload) %>"></a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


