<div id="user-profile">
  <%= image_tag @user.avatar.url(:medium) %>
  <h1><%=@user.name%></h1>

  <% if current_user.id == @user.id %>
  <ul id="user-actions">
    <li>Edit User <span class="glyphicon glyphicon-pencil"></span> </li>
    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#newPhoto">Add Photo <span class="glyphicon glyphicon-camera"></span></a></li>
  </ul>
  <% end %>

</div>

<div id="user-photos">
  <div id="user-photos">
    <h2>My Photos</h2>
    <% @uploads.each do |upload| %>
      <a href="<%= user_upload_path(@user, upload) %>"><%= image_tag upload.photo.url(:thumb) %></a>
    <% end %>
  </div>
  <div class="clear"></div>
  <div id="favorite-photos">
    <h2>My Favorites</h2>
    <% @user.favorites.each do |favorite| %>
      <%= image_tag favorite.upload.photo.url(:thumb) %>
    <% end %>
  </div>
</div>


<div class="modal fade" id="newPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">New Photo Upload</h4>
        </div>
        <div class="modal-body">
          <%= form_for [@user, @upload], :html => { :multipart => true } do |f| %>
            <div class="form-group">
              <%= f.file_field :photo %>
            </div>
            <%= f.submit(:class => "btn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
